.Marchand {
    height: 50vh;
    width: 20vh;
    position: absolute;
    top: 200px;
    left: 450px;
}

.Marchand img.perso {
    cursor: pointer;
}

.Marchand:hover > :not(.fenetre) {
    animation: scaleUp 0.2s forwards;
}

@keyframes scaleUp {
    from {
        transform: scale(1);
        filter: brightness(100%);
    }
    to {
        transform: scale(1.05);
        filter: brightness(150%);
    }
}