
.CreerCompte {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin: 2vh;
}

.CreerCompte a {
    text-align: center;
    color: white;
    background-color: rgb(103, 154, 179);
    padding: 1vh 5vh;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 1vh;
    border-radius: 1vh;
}

.CreerCompte a:hover {
    filter: brightness(125%);
    box-shadow: 3px 3px 0px rgb(74, 111, 130);
}

.CreerCompte a:active {
    filter: brightness(150%);
}