.clickable {
    transform: scale(1);
    transition: all 0.2s;
} fenetre2Classe

.clickable:hover > :not(.FenetreLidl) {
    animation: scaleUp 0.2s forwards;
}

.clickable:hover > :not(.fenetre2Classe) {
    animation: scaleUp 0.2s forwards;
}

.clickable:hover > :not(div) {
    animation: scaleUp 0.2s forwards;
}

.clickable:hover > :not(.fenetreDrag) {
    animation: scaleUp 0.2s forwards;
}

@keyframes scaleUp {
    from {
        transform: scale(1);
        filter: brightness(100%);
    }
    to {
        transform: scale(1.05);
        filter: brightness(150%);
    }
}

.clickable:hover > :not(.dialogueConteneur) {
    animation: scaleUp 0.2s forwards;
}