
.fenetre1Classe {
    padding: 1.5vh;
    width: 20vh;
    border: none;
    margin: 1vh;
    background-color: rgb(100, 100, 155);
    color: white;
    transition: all 0.1s;
    cursor: pointer;
    border-radius: 1vh;
}