
.fenetre1Classe {
    padding: 1.5vh;
    width: 20vh;
    border: none;
    margin: 1vh;
    background-color: rgb(100, 100, 155);
    color: white;
    transition: all 0.1s;
    cursor: pointer;
    border-radius: 1vh;
    animation: rebondir 0.2s forwards;
}


.fenetre2Classe {
    position: absolute;
    padding: 2vh;
    word-wrap: break-word;
    cursor: grab;
    background: linear-gradient(60deg, rgb(160, 160, 198), rgb(121, 121, 161));
    color: white;
    border-radius: 1vh;
    border: 5px solid rgb(182, 182, 217);
    animation: rebondir 0.2s forwards;
}

@keyframes rebondir {
    0%, 100% {
        opacity: 0%;
        transform: translateY(20px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}