
.JeuVideo .ChargerPartie {
    height: 100vh;
    max-height: 80vh;
    overflow-y: scroll;
    padding: 1vh;
}

.JeuVideo .partie {
    color: white;
    padding: 1vh;
    background-color: rgb(28, 30, 35);
    transition: all 0.2s;
    cursor: pointer;
    margin-bottom: 1vh;
}

.JeuVideo .partie:hover {
    filter: brightness(150%);
}
