* {
    margin: 0;
    padding: 0;
}

.FenetreStockage {
    width: 70vh;
    height: 70vh;
    border: 1px solid black;
    background-color: white;
    padding: 2vh;
    word-wrap: break-word;
    cursor:grab;
    display: flex;
    flex-direction: column;
}

.FenetreStockage .coffreSection {
    flex: 1;
    overflow-y: scroll;
}

.FenetreStockage .coffreSection2 {
    display: flex;
    flex-wrap: wrap;
}


.FenetreStockage .inventaireSection {
    flex: 1;
    overflow-y: scroll;
}

.FenetreStockage .inventaireSection2 {
    display: flex;
    flex-wrap: wrap;
}

.FenetreStockage hr {
    margin: 2vh 0;
}