* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MiniMap {
    margin: 0;
    height: 100%;
    margin-bottom: 1vh;
    margin-top: 1vh;
    position: absolute;
    bottom: 0;
}

.MiniMap .joueur {
    background-color: red;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.MiniMap .case {
    height: 20px;
    width: 20px;
    background-color: aqua;
}