* {
    margin: 0;
    padding: 0;
}

.FenetreSauvegarde {
    background-color: rgb(41, 41, 75);
    color: white;
    border-radius: 1vh;
    padding: 2vh;
    animation: rebondir 0.2s forwards;
    box-sizing: border-box;
    width: 50vh;
    height: 20vh;
    position: absolute;
    left: 40%;
    top: 40%;
}