* {
    margin: 0;
    padding: 0;
}

.FenetreSauvegarde .boutonBasique {
    padding: 1vh;
    background-color: rgb(29, 59, 169);
    color: white;
    transition: all 0.2s;
    cursor: pointer;
    width: 100%;
    border: none;
    margin-bottom: 1vh;
}

.FenetreSauvegarde .boutonBasique:hover {
    filter: brightness(150%);
}