* {
    margin: 0;
    padding: 0;
}

.FenetreStat hr {
    margin-top: 1vh;
}

.FenetreStat .centralisation2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.FenetreStat .inventaire {
    background-color: rgb(78, 78, 109);
    margin: 2vh;
    box-sizing: border-box;
    padding: 1vh;
    border-radius: 1vh;
    height: 30vh;
}

.FenetreStat .inventaire .liste {
    width: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    flex-direction: row;
}

.FenetreStat .centreHaut {
    display: flex;
}

.FenetreStat .centreHaut .image {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    margin-left: 2vh;
}

.FenetreStat .centreHaut .inventaire {
    flex: 0.5;
    margin-top: 0;
    margin-bottom: 0;
}

.FenetreStat .centreHaut img {
    width: 100%;
}

.FenetreStat .centreBas {
    background-color: rgb(78, 78, 109);
    margin: 2vh;
    box-sizing: border-box;
    padding: 1vh;
    border-radius: 1vh;
    max-height: 42%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.FenetreStat .centreBas button {
    width: 100%;
    position: relative;
    margin: 0.3vh auto;
    display: block;
}